<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head lang="en">
  <link th:href="@{/main.css}" rel="stylesheet" />
  <script src="https://kit.fontawesome.com/5f58b769bf.js" crossorigin="anonymous"></script>
  <meta charset="UTF-8" />
  <title>Acebook</title>
</head>

<body>
  <div th:insert="fragments/general :: header-not-logged-in"></div>
  <div class="container">
    <div class="login">
      <h2>Login</h2>
      <form class="login-form" th:action="@{/login}" method="post">
        <!-- <div th:if="${param.error}" class="alert alert-error">
          Invalid username and password.
        </div>
        <div th:if="${param.logout}" class="alert alert-success">
          You have been logged out.
        </div> -->
        <label for="username">Email</label>
        <input type="text" id="username" name="username" />
        <label fo="password">Password</label>
        <input type="password" id="password" name="password" />
        <ul class="login-buttons">
          <li><button type="submit" class="btn">Log in</button></li>
        </ul>
      </form>
    </div>
  </div>
</body>

</html>


<!-- <!DOCTYPE html>
  <html lang="en">
  <head>
      <meta charset="UTF-8">
      <title>Login</title> 
  </head>
  <body>
  <h1>Login screen</h1>
  </body>
  </html> -->